/.direnv
/git
/.github
/dist
/node_modules
.dockerignore
.env.example
.env.sentry-build-plugin.example
.envrc
.gitignore
.prettierrc
COPYING
Dockerfile
flake.lock
flake.nix
local.compose.yaml
prod.compose.yaml
README.md
renovate.json
