@import"https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap";/*!
* "Noto Serif Japanese" is licenced under the SIL OPEN FONT LICENSE Version 1.1
* by https://fonts.google.com/noto/specimen/Noto+Serif+JP/license
*//*!
 * "0xProto" is lisenced under the SIL Open Font License 1.1
 * by https://github.com/0xType/0xProto
 */@font-face{font-family:ZeroXProto;src:url(../assets/fonts/0xProto-Regular.woff2) format("woff2")}body,html{margin:0;padding:0;background-color:#fffdf3;font-size:62.5%}*{font-family:"Noto Serif JP",serif;font-optical-sizing:auto}
